{{- $rootKeys := keys .dotfiles | sortAlpha | join "," -}}
{{ printf "C\t%v\t%s\n" .dotfiles.schema $rootKeys -}}
{{- range $key := keys .dotfiles.modules | sortAlpha -}}
{{- $module := index $.dotfiles.modules $key -}}
{{- $keys := keys $module | sortAlpha | join "," -}}
{{- $platforms := default "-" (join "," $module.platforms) -}}
{{- $depends := default "-" (join "," $module.depends) -}}
{{- $conflicts := default "-" (join "," $module.conflicts) -}}
{{- $group := default "-" $module.exclusive_group -}}
{{- $macosCommands := "-" -}}
{{- $macosApplications := "-" -}}
{{- $macosArtifacts := "-" -}}
{{- $debianCommands := "-" -}}
{{- $debianApplications := "-" -}}
{{- $debianArtifacts := "-" -}}
{{- $chezmoiSources := "-" -}}
{{- if hasKey $module "prerequisites" -}}
{{- if hasKey $module.prerequisites "macos" -}}
{{- if hasKey $module.prerequisites.macos "commands" -}}
{{- $macosCommands = default "~" (join "," $module.prerequisites.macos.commands) -}}
{{- end -}}
{{- if hasKey $module.prerequisites.macos "applications" -}}
{{- $macosApplications = default "~" (join "," $module.prerequisites.macos.applications) -}}
{{- end -}}
{{- if hasKey $module.prerequisites.macos "artifacts" -}}
{{- $macosArtifacts = default "~" (join "," $module.prerequisites.macos.artifacts) -}}
{{- end -}}
{{- end -}}
{{- if hasKey $module.prerequisites "debian" -}}
{{- if hasKey $module.prerequisites.debian "commands" -}}
{{- $debianCommands = default "~" (join "," $module.prerequisites.debian.commands) -}}
{{- end -}}
{{- if hasKey $module.prerequisites.debian "applications" -}}
{{- $debianApplications = default "~" (join "," $module.prerequisites.debian.applications) -}}
{{- end -}}
{{- if hasKey $module.prerequisites.debian "artifacts" -}}
{{- $debianArtifacts = default "~" (join "," $module.prerequisites.debian.artifacts) -}}
{{- end -}}
{{- end -}}
{{- end -}}
{{- if hasKey $module "home" -}}
{{- if hasKey $module.home "chezmoi" -}}
{{- $chezmoiSources = default "-" (join "," $module.home.chezmoi.sources) -}}
{{- end -}}
{{- end -}}
{{ printf "M\t%s\t%s\t%s\t%v\t%s\t%s\t%s\t%s\t%s\t%s\t%s\t%s\t%s\t%s\t%s\t%s\t%s\t%s\n" $key $keys $module.id $module.schema $module.name $module.summary $module.docs $platforms $depends $conflicts $group $macosCommands $macosApplications $macosArtifacts $debianCommands $debianApplications $debianArtifacts $chezmoiSources -}}
{{- end -}}
{{- range $key := keys .dotfiles.profiles | sortAlpha -}}
{{- $profile := index $.dotfiles.profiles $key -}}
{{- $keys := keys $profile | sortAlpha | join "," -}}
{{- $platforms := default "-" (join "," $profile.platforms) -}}
{{- $modules := default "-" (join "," $profile.modules) -}}
{{ printf "P\t%s\t%s\t%s\t%v\t%s\t%s\t%s\t%s\t%s\n" $key $keys $profile.id $profile.schema $profile.name $profile.summary $profile.docs $platforms $modules -}}
{{- end -}}
