{{- $rootKeys := keys .dotfiles | sortAlpha | join "," -}}
{{ printf "C\t%v\t%s\n" .dotfiles.schema $rootKeys -}}
{{- range $key := keys .dotfiles.modules | sortAlpha -}}
{{- $module := index $.dotfiles.modules $key -}}
{{- $keys := keys $module | sortAlpha | join "," -}}
{{- $platforms := default "-" (join "," $module.platforms) -}}
{{- $depends := default "-" (join "," $module.depends) -}}
{{- $conflicts := default "-" (join "," $module.conflicts) -}}
{{- $group := default "-" $module.exclusive_group -}}
{{- $brewPackages := "-" -}}
{{- $misePackages := "-" -}}
{{- $miseTools := "-" -}}
{{- $chezmoiSources := "-" -}}
{{- if hasKey $module "providers" -}}
{{- if hasKey $module.providers "macos" -}}
{{- if hasKey $module.providers.macos "homebrew" -}}
{{- if hasKey $module.providers.macos.homebrew "packages" -}}
{{- $brewPackages = default "-" (join "," $module.providers.macos.homebrew.packages) -}}
{{- end -}}
{{- end -}}
{{- end -}}
{{- if hasKey $module.providers "debian" -}}
{{- if hasKey $module.providers.debian "mise" -}}
{{- if hasKey $module.providers.debian.mise "packages" -}}
{{- $misePackages = default "-" (join "," $module.providers.debian.mise.packages) -}}
{{- end -}}
{{- if hasKey $module.providers.debian.mise "tools" -}}
{{- $miseTools = default "-" (join "," $module.providers.debian.mise.tools) -}}
{{- end -}}
{{- end -}}
{{- end -}}
{{- end -}}
{{- if hasKey $module "home" -}}
{{- if hasKey $module.home "chezmoi" -}}
{{- $chezmoiSources = default "-" (join "," $module.home.chezmoi.sources) -}}
{{- end -}}
{{- end -}}
{{ printf "M\t%s\t%s\t%s\t%v\t%s\t%s\t%s\t%s\t%s\t%s\t%s\t%s\t%s\t%s\t%s\n" $key $keys $module.id $module.schema $module.name $module.summary $module.docs $platforms $depends $conflicts $group $brewPackages $misePackages $miseTools $chezmoiSources -}}
{{- end -}}
{{- range $key := keys .dotfiles.profiles | sortAlpha -}}
{{- $profile := index $.dotfiles.profiles $key -}}
{{- $keys := keys $profile | sortAlpha | join "," -}}
{{- $platforms := default "-" (join "," $profile.platforms) -}}
{{- $modules := default "-" (join "," $profile.modules) -}}
{{ printf "P\t%s\t%s\t%s\t%v\t%s\t%s\t%s\t%s\t%s\n" $key $keys $profile.id $profile.schema $profile.name $profile.summary $profile.docs $platforms $modules -}}
{{- end -}}
